body{
    background-color: aliceblue;
    font-family:Playfair Display ;
}
h1{
    color: blue;
}
ul {
    list-style-type:lower-alpha;
}

a{
    font-size: 20px;
    font-weight: bold;
}
img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

.playfair-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
  }